<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intest.dao.mapper.CarBtoMapper">
  <resultMap id="BaseResultMap" type="com.intest.dao.entity.CarBto">
    <id column="CAR_ID" jdbcType="CHAR" property="carId" />
    <result column="FK_CARTYPE_ID" jdbcType="CHAR" property="fkCartypeId" />
    <result column="VIN" jdbcType="CHAR" property="vin" />
    <result column="ADDTYPE" jdbcType="NUMERIC" property="addtype" />
    <result column="LICENSE" jdbcType="NVARCHAR" property="license" />
    <result column="TERMINALCODE" jdbcType="NVARCHAR" property="terminalcode" />
    <result column="ISDELETE" jdbcType="NUMERIC" property="isdelete" />
    <result column="CREATEAT" jdbcType="TIMESTAMP" property="createat" />
    <result column="CREATEBY" jdbcType="CHAR" property="createby" />
    <result column="UPDATEAT" jdbcType="TIMESTAMP" property="updateat" />
    <result column="UPDATEBY" jdbcType="CHAR" property="updateby" />
    <result column="ICCID" jdbcType="NVARCHAR" property="iccid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CAR_ID, FK_CARTYPE_ID, VIN, ADDTYPE, LICENSE, TERMINALCODE, ISDELETE, CREATEAT, CREATEBY, 
    UPDATEAT, UPDATEBY, ICCID
  </sql>
  <select id="selectByExample" parameterType="com.intest.dao.entity.CarBtoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from F_CAR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from F_CAR
    where CAR_ID = #{carId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from F_CAR
    where CAR_ID = #{carId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.intest.dao.entity.CarBtoExample">
    delete from F_CAR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.intest.dao.entity.CarBto">
    insert into F_CAR (CAR_ID, FK_CARTYPE_ID, VIN, 
      ADDTYPE, LICENSE, TERMINALCODE, 
      ISDELETE, CREATEAT, CREATEBY, 
      UPDATEAT, UPDATEBY, ICCID
      )
    values (#{carId,jdbcType=CHAR}, #{fkCartypeId,jdbcType=CHAR}, #{vin,jdbcType=CHAR}, 
      #{addtype,jdbcType=NUMERIC}, #{license,jdbcType=NVARCHAR}, #{terminalcode,jdbcType=NVARCHAR}, 
      #{isdelete,jdbcType=NUMERIC}, #{createat,jdbcType=TIMESTAMP}, #{createby,jdbcType=CHAR}, 
      #{updateat,jdbcType=TIMESTAMP}, #{updateby,jdbcType=CHAR}, #{iccid,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.intest.dao.entity.CarBto">
    insert into F_CAR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="carId != null">
        CAR_ID,
      </if>
      <if test="fkCartypeId != null">
        FK_CARTYPE_ID,
      </if>
      <if test="vin != null">
        VIN,
      </if>
      <if test="addtype != null">
        ADDTYPE,
      </if>
      <if test="license != null">
        LICENSE,
      </if>
      <if test="terminalcode != null">
        TERMINALCODE,
      </if>
      <if test="isdelete != null">
        ISDELETE,
      </if>
      <if test="createat != null">
        CREATEAT,
      </if>
      <if test="createby != null">
        CREATEBY,
      </if>
      <if test="updateat != null">
        UPDATEAT,
      </if>
      <if test="updateby != null">
        UPDATEBY,
      </if>
      <if test="iccid != null">
        ICCID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="carId != null">
        #{carId,jdbcType=CHAR},
      </if>
      <if test="fkCartypeId != null">
        #{fkCartypeId,jdbcType=CHAR},
      </if>
      <if test="vin != null">
        #{vin,jdbcType=CHAR},
      </if>
      <if test="addtype != null">
        #{addtype,jdbcType=NUMERIC},
      </if>
      <if test="license != null">
        #{license,jdbcType=NVARCHAR},
      </if>
      <if test="terminalcode != null">
        #{terminalcode,jdbcType=NVARCHAR},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=NUMERIC},
      </if>
      <if test="createat != null">
        #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=CHAR},
      </if>
      <if test="updateat != null">
        #{updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=CHAR},
      </if>
      <if test="iccid != null">
        #{iccid,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.intest.dao.entity.CarBtoExample" resultType="java.lang.Long">
    select count(*) from F_CAR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update F_CAR
    <set>
      <if test="record.carId != null">
        CAR_ID = #{record.carId,jdbcType=CHAR},
      </if>
      <if test="record.fkCartypeId != null">
        FK_CARTYPE_ID = #{record.fkCartypeId,jdbcType=CHAR},
      </if>
      <if test="record.vin != null">
        VIN = #{record.vin,jdbcType=CHAR},
      </if>
      <if test="record.addtype != null">
        ADDTYPE = #{record.addtype,jdbcType=NUMERIC},
      </if>
      <if test="record.license != null">
        LICENSE = #{record.license,jdbcType=NVARCHAR},
      </if>
      <if test="record.terminalcode != null">
        TERMINALCODE = #{record.terminalcode,jdbcType=NVARCHAR},
      </if>
      <if test="record.isdelete != null">
        ISDELETE = #{record.isdelete,jdbcType=NUMERIC},
      </if>
      <if test="record.createat != null">
        CREATEAT = #{record.createat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createby != null">
        CREATEBY = #{record.createby,jdbcType=CHAR},
      </if>
      <if test="record.updateat != null">
        UPDATEAT = #{record.updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateby != null">
        UPDATEBY = #{record.updateby,jdbcType=CHAR},
      </if>
      <if test="record.iccid != null">
        ICCID = #{record.iccid,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update F_CAR
    set CAR_ID = #{record.carId,jdbcType=CHAR},
      FK_CARTYPE_ID = #{record.fkCartypeId,jdbcType=CHAR},
      VIN = #{record.vin,jdbcType=CHAR},
      ADDTYPE = #{record.addtype,jdbcType=NUMERIC},
      LICENSE = #{record.license,jdbcType=NVARCHAR},
      TERMINALCODE = #{record.terminalcode,jdbcType=NVARCHAR},
      ISDELETE = #{record.isdelete,jdbcType=NUMERIC},
      CREATEAT = #{record.createat,jdbcType=TIMESTAMP},
      CREATEBY = #{record.createby,jdbcType=CHAR},
      UPDATEAT = #{record.updateat,jdbcType=TIMESTAMP},
      UPDATEBY = #{record.updateby,jdbcType=CHAR},
      ICCID = #{record.iccid,jdbcType=NVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.intest.dao.entity.CarBto">
    update F_CAR
    <set>
      <if test="fkCartypeId != null">
        FK_CARTYPE_ID = #{fkCartypeId,jdbcType=CHAR},
      </if>
      <if test="vin != null">
        VIN = #{vin,jdbcType=CHAR},
      </if>
      <if test="addtype != null">
        ADDTYPE = #{addtype,jdbcType=NUMERIC},
      </if>
      <if test="license != null">
        LICENSE = #{license,jdbcType=NVARCHAR},
      </if>
      <if test="terminalcode != null">
        TERMINALCODE = #{terminalcode,jdbcType=NVARCHAR},
      </if>
      <if test="isdelete != null">
        ISDELETE = #{isdelete,jdbcType=NUMERIC},
      </if>
      <if test="createat != null">
        CREATEAT = #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        CREATEBY = #{createby,jdbcType=CHAR},
      </if>
      <if test="updateat != null">
        UPDATEAT = #{updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        UPDATEBY = #{updateby,jdbcType=CHAR},
      </if>
      <if test="iccid != null">
        ICCID = #{iccid,jdbcType=NVARCHAR},
      </if>
    </set>
    where CAR_ID = #{carId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.intest.dao.entity.CarBto">
    update F_CAR
    set FK_CARTYPE_ID = #{fkCartypeId,jdbcType=CHAR},
      VIN = #{vin,jdbcType=CHAR},
      ADDTYPE = #{addtype,jdbcType=NUMERIC},
      LICENSE = #{license,jdbcType=NVARCHAR},
      TERMINALCODE = #{terminalcode,jdbcType=NVARCHAR},
      ISDELETE = #{isdelete,jdbcType=NUMERIC},
      CREATEAT = #{createat,jdbcType=TIMESTAMP},
      CREATEBY = #{createby,jdbcType=CHAR},
      UPDATEAT = #{updateat,jdbcType=TIMESTAMP},
      UPDATEBY = #{updateby,jdbcType=CHAR},
      ICCID = #{iccid,jdbcType=NVARCHAR}
    where CAR_ID = #{carId,jdbcType=CHAR}
  </update>


</mapper>