<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intest.dao.mapper.CarTypeExtendMapper">
    <resultMap id="CarTypeResultMap" type="com.intest.dao.entity.CarTypeBto">
        <id column="CARTYPE_ID" jdbcType="CHAR" property="cartypeId" />
        <result column="CARTYPENAME" jdbcType="CHAR" property="cartypename" />
        <result column="REMARK" jdbcType="CHAR" property="remark" />
        <result column="FK_TERMINAL_ID" jdbcType="NUMERIC" property="fkTerminalId" />
        <result column="ISDELETE" jdbcType="NUMERIC" property="isdelete" />
        <result column="CREATEAT" jdbcType="TIMESTAMP" property="createat" />
        <result column="CREATEBY" jdbcType="CHAR" property="createby" />
        <result column="UPDATEAT" jdbcType="TIMESTAMP" property="updateat" />
        <result column="UPDATEBY" jdbcType="CHAR" property="updateby" />
    </resultMap>

    <select id="selectPageCon" resultType="com.intest.dao.entity.CarTypeBto" >
        select *
        from F_CARTYPE
    </select>

    <update id="addcarupdatePart" parameterType="com.intest.dao.entity.PartsBto" keyProperty="Parts_ID">
        update F_Parts   set FK_CarType_ID = #{fkCartypeId} where Parts_ID = #{partsId}
    </update>

    <update id="mdfcarupdatePart" parameterType="com.intest.dao.entity.CarTypePartsBto" keyProperty="CARTYPEPARTS_ID">
        update F_CARTYPEPARTS  set ISDELETE = 0 ,updateby=#{userId} where FK_CARTYPE_ID = #{fk_cartype_id}
    </update>


    <insert id="addCarType" parameterType="com.intest.dao.entity.CarTypeBto">
        insert into F_CarType (CARTYPE_ID,CARTYPENAME,REMARK,FK_TERMINAL_ID)
        values
         (#{cartypeId},
         #{cartypename},
         #{remark},
         #{fkTerminalId})
    </insert>

    <select id="getPartsOfCar" resultType="com.intest.dao.entity.PartsBto">
        select p.* from f_car c
        left join f_cartype ty on c.fk_cartype_id=ty.cartype_id
        left join f_cartypeparts ctp on ty.cartype_id=ctp.fk_cartype_id
        left join f_parts p on ctp.fk_parts_id=p.parts_id
        where c.fk_cartype_id=#{fk_cartype_id} and c.isdelete=1 and p.isdelete=1 and ctp.isdelete=1
    </select>

    <select id="getPartsOfCarType" resultType="com.intest.dao.entity.PartsBto">
        select p.* from  f_cartype ty
        left join  f_cartypeparts ctp on ty.cartype_id=ctp.fk_cartype_id
        left join f_parts p on ctp.fk_parts_id=p.parts_id
        where ty.cartype_id=#{fk_cartype_id} and p.isdelete=1 and ctp.isdelete=1
    </select>
</mapper>
