<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intest.dao.mapper.ColumnBtoMapper">
  <resultMap id="BaseResultMap" type="com.intest.dao.entity.ColumnBto">
    <id column="COLUMN_ID" jdbcType="CHAR" property="columnId" />
    <result column="COLUMN_NAME" jdbcType="NVARCHAR" property="columnName" />
    <result column="ORDER_NUM" jdbcType="NUMERIC" property="orderNum" />
    <result column="WIDTH" jdbcType="NUMERIC" property="width" />
    <result column="ISSHOW" jdbcType="NUMERIC" property="isshow" />
    <result column="SORT" jdbcType="NVARCHAR" property="sort" />
    <result column="ISCANSORT" jdbcType="NUMERIC" property="iscansort" />
    <result column="ISDELETE" jdbcType="NUMERIC" property="isdelete" />
    <result column="CREATEAT" jdbcType="TIMESTAMP" property="createat" />
    <result column="CREATEBY" jdbcType="CHAR" property="createby" />
    <result column="UPDATEAT" jdbcType="TIMESTAMP" property="updateat" />
    <result column="UPDATEBY" jdbcType="CHAR" property="updateby" />
    <result column="DATAPROPERTYNAME" jdbcType="NVARCHAR" property="datapropertyname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    COLUMN_ID, COLUMN_NAME, ORDER_NUM, WIDTH, ISSHOW, SORT, ISCANSORT, ISDELETE, CREATEAT, 
    CREATEBY, UPDATEAT, UPDATEBY, DATAPROPERTYNAME
  </sql>
  <select id="selectByExample" parameterType="com.intest.dao.entity.ColumnBtoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from F_COLUMN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from F_COLUMN
    where COLUMN_ID = #{columnId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from F_COLUMN
    where COLUMN_ID = #{columnId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.intest.dao.entity.ColumnBtoExample">
    delete from F_COLUMN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.intest.dao.entity.ColumnBto">
    insert into F_COLUMN (COLUMN_ID, COLUMN_NAME, ORDER_NUM, 
      WIDTH, ISSHOW, SORT, 
      ISCANSORT, ISDELETE, CREATEAT, 
      CREATEBY, UPDATEAT, UPDATEBY, 
      DATAPROPERTYNAME)
    values (#{columnId,jdbcType=CHAR}, #{columnName,jdbcType=NVARCHAR}, #{orderNum,jdbcType=NUMERIC}, 
      #{width,jdbcType=NUMERIC}, #{isshow,jdbcType=NUMERIC}, #{sort,jdbcType=NVARCHAR}, 
      #{iscansort,jdbcType=NUMERIC}, #{isdelete,jdbcType=NUMERIC}, #{createat,jdbcType=TIMESTAMP}, 
      #{createby,jdbcType=CHAR}, #{updateat,jdbcType=TIMESTAMP}, #{updateby,jdbcType=CHAR}, 
      #{datapropertyname,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.intest.dao.entity.ColumnBto">
    insert into F_COLUMN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="columnId != null">
        COLUMN_ID,
      </if>
      <if test="columnName != null">
        COLUMN_NAME,
      </if>
      <if test="orderNum != null">
        ORDER_NUM,
      </if>
      <if test="width != null">
        WIDTH,
      </if>
      <if test="isshow != null">
        ISSHOW,
      </if>
      <if test="sort != null">
        SORT,
      </if>
      <if test="iscansort != null">
        ISCANSORT,
      </if>
      <if test="isdelete != null">
        ISDELETE,
      </if>
      <if test="createat != null">
        CREATEAT,
      </if>
      <if test="createby != null">
        CREATEBY,
      </if>
      <if test="updateat != null">
        UPDATEAT,
      </if>
      <if test="updateby != null">
        UPDATEBY,
      </if>
      <if test="datapropertyname != null">
        DATAPROPERTYNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="columnId != null">
        #{columnId,jdbcType=CHAR},
      </if>
      <if test="columnName != null">
        #{columnName,jdbcType=NVARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=NUMERIC},
      </if>
      <if test="width != null">
        #{width,jdbcType=NUMERIC},
      </if>
      <if test="isshow != null">
        #{isshow,jdbcType=NUMERIC},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=NVARCHAR},
      </if>
      <if test="iscansort != null">
        #{iscansort,jdbcType=NUMERIC},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=NUMERIC},
      </if>
      <if test="createat != null">
        #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=CHAR},
      </if>
      <if test="updateat != null">
        #{updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=CHAR},
      </if>
      <if test="datapropertyname != null">
        #{datapropertyname,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.intest.dao.entity.ColumnBtoExample" resultType="java.lang.Long">
    select count(*) from F_COLUMN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update F_COLUMN
    <set>
      <if test="record.columnId != null">
        COLUMN_ID = #{record.columnId,jdbcType=CHAR},
      </if>
      <if test="record.columnName != null">
        COLUMN_NAME = #{record.columnName,jdbcType=NVARCHAR},
      </if>
      <if test="record.orderNum != null">
        ORDER_NUM = #{record.orderNum,jdbcType=NUMERIC},
      </if>
      <if test="record.width != null">
        WIDTH = #{record.width,jdbcType=NUMERIC},
      </if>
      <if test="record.isshow != null">
        ISSHOW = #{record.isshow,jdbcType=NUMERIC},
      </if>
      <if test="record.sort != null">
        SORT = #{record.sort,jdbcType=NVARCHAR},
      </if>
      <if test="record.iscansort != null">
        ISCANSORT = #{record.iscansort,jdbcType=NUMERIC},
      </if>
      <if test="record.isdelete != null">
        ISDELETE = #{record.isdelete,jdbcType=NUMERIC},
      </if>
      <if test="record.createat != null">
        CREATEAT = #{record.createat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createby != null">
        CREATEBY = #{record.createby,jdbcType=CHAR},
      </if>
      <if test="record.updateat != null">
        UPDATEAT = #{record.updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateby != null">
        UPDATEBY = #{record.updateby,jdbcType=CHAR},
      </if>
      <if test="record.datapropertyname != null">
        DATAPROPERTYNAME = #{record.datapropertyname,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update F_COLUMN
    set COLUMN_ID = #{record.columnId,jdbcType=CHAR},
      COLUMN_NAME = #{record.columnName,jdbcType=NVARCHAR},
      ORDER_NUM = #{record.orderNum,jdbcType=NUMERIC},
      WIDTH = #{record.width,jdbcType=NUMERIC},
      ISSHOW = #{record.isshow,jdbcType=NUMERIC},
      SORT = #{record.sort,jdbcType=NVARCHAR},
      ISCANSORT = #{record.iscansort,jdbcType=NUMERIC},
      ISDELETE = #{record.isdelete,jdbcType=NUMERIC},
      CREATEAT = #{record.createat,jdbcType=TIMESTAMP},
      CREATEBY = #{record.createby,jdbcType=CHAR},
      UPDATEAT = #{record.updateat,jdbcType=TIMESTAMP},
      UPDATEBY = #{record.updateby,jdbcType=CHAR},
      DATAPROPERTYNAME = #{record.datapropertyname,jdbcType=NVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.intest.dao.entity.ColumnBto">
    update F_COLUMN
    <set>
      <if test="columnName != null">
        COLUMN_NAME = #{columnName,jdbcType=NVARCHAR},
      </if>
      <if test="orderNum != null">
        ORDER_NUM = #{orderNum,jdbcType=NUMERIC},
      </if>
      <if test="width != null">
        WIDTH = #{width,jdbcType=NUMERIC},
      </if>
      <if test="isshow != null">
        ISSHOW = #{isshow,jdbcType=NUMERIC},
      </if>
      <if test="sort != null">
        SORT = #{sort,jdbcType=NVARCHAR},
      </if>
      <if test="iscansort != null">
        ISCANSORT = #{iscansort,jdbcType=NUMERIC},
      </if>
      <if test="isdelete != null">
        ISDELETE = #{isdelete,jdbcType=NUMERIC},
      </if>
      <if test="createat != null">
        CREATEAT = #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        CREATEBY = #{createby,jdbcType=CHAR},
      </if>
      <if test="updateat != null">
        UPDATEAT = #{updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        UPDATEBY = #{updateby,jdbcType=CHAR},
      </if>
      <if test="datapropertyname != null">
        DATAPROPERTYNAME = #{datapropertyname,jdbcType=NVARCHAR},
      </if>
    </set>
    where COLUMN_ID = #{columnId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.intest.dao.entity.ColumnBto">
    update F_COLUMN
    set COLUMN_NAME = #{columnName,jdbcType=NVARCHAR},
      ORDER_NUM = #{orderNum,jdbcType=NUMERIC},
      WIDTH = #{width,jdbcType=NUMERIC},
      ISSHOW = #{isshow,jdbcType=NUMERIC},
      SORT = #{sort,jdbcType=NVARCHAR},
      ISCANSORT = #{iscansort,jdbcType=NUMERIC},
      ISDELETE = #{isdelete,jdbcType=NUMERIC},
      CREATEAT = #{createat,jdbcType=TIMESTAMP},
      CREATEBY = #{createby,jdbcType=CHAR},
      UPDATEAT = #{updateat,jdbcType=TIMESTAMP},
      UPDATEBY = #{updateby,jdbcType=CHAR},
      DATAPROPERTYNAME = #{datapropertyname,jdbcType=NVARCHAR}
    where COLUMN_ID = #{columnId,jdbcType=CHAR}
  </update>
</mapper>