<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intest.dao.mapper.ItemBtoMapper">
  <resultMap id="BaseResultMap" type="com.intest.dao.entity.ItemBto">
    <id column="ITEM_ID" jdbcType="CHAR" property="itemId" />
    <result column="NAME" jdbcType="NVARCHAR" property="name" />
    <result column="FK_ITEM_ID" jdbcType="CHAR" property="fkItemId" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="ISDELETE" jdbcType="NUMERIC" property="isdelete" />
    <result column="CREATEAT" jdbcType="TIMESTAMP" property="createat" />
    <result column="CREATEBY" jdbcType="CHAR" property="createby" />
    <result column="UPDATEAT" jdbcType="TIMESTAMP" property="updateat" />
    <result column="UPDATEBY" jdbcType="CHAR" property="updateby" />
    <result column="ICON" jdbcType="NVARCHAR" property="icon" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ITEM_ID, NAME, FK_ITEM_ID, REMARK, ISDELETE, CREATEAT, CREATEBY, UPDATEAT, UPDATEBY, 
    ICON
  </sql>
  <select id="selectByExample" parameterType="com.intest.dao.entity.ItemBtoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from F_ITEM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from F_ITEM
    where ITEM_ID = #{itemId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from F_ITEM
    where ITEM_ID = #{itemId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.intest.dao.entity.ItemBtoExample">
    delete from F_ITEM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.intest.dao.entity.ItemBto">
    insert into F_ITEM (ITEM_ID, NAME, FK_ITEM_ID, 
      REMARK, ISDELETE, CREATEAT, 
      CREATEBY, UPDATEAT, UPDATEBY, 
      ICON)
    values (#{itemId,jdbcType=CHAR}, #{name,jdbcType=NVARCHAR}, #{fkItemId,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR}, #{isdelete,jdbcType=NUMERIC}, #{createat,jdbcType=TIMESTAMP}, 
      #{createby,jdbcType=CHAR}, #{updateat,jdbcType=TIMESTAMP}, #{updateby,jdbcType=CHAR}, 
      #{icon,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.intest.dao.entity.ItemBto">
    insert into F_ITEM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        ITEM_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="fkItemId != null">
        FK_ITEM_ID,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="isdelete != null">
        ISDELETE,
      </if>
      <if test="createat != null">
        CREATEAT,
      </if>
      <if test="createby != null">
        CREATEBY,
      </if>
      <if test="updateat != null">
        UPDATEAT,
      </if>
      <if test="updateby != null">
        UPDATEBY,
      </if>
      <if test="icon != null">
        ICON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        #{itemId,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="fkItemId != null">
        #{fkItemId,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=NUMERIC},
      </if>
      <if test="createat != null">
        #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=CHAR},
      </if>
      <if test="updateat != null">
        #{updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=CHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.intest.dao.entity.ItemBtoExample" resultType="java.lang.Long">
    select count(*) from F_ITEM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update F_ITEM
    <set>
      <if test="record.itemId != null">
        ITEM_ID = #{record.itemId,jdbcType=CHAR},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=NVARCHAR},
      </if>
      <if test="record.fkItemId != null">
        FK_ITEM_ID = #{record.fkItemId,jdbcType=CHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isdelete != null">
        ISDELETE = #{record.isdelete,jdbcType=NUMERIC},
      </if>
      <if test="record.createat != null">
        CREATEAT = #{record.createat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createby != null">
        CREATEBY = #{record.createby,jdbcType=CHAR},
      </if>
      <if test="record.updateat != null">
        UPDATEAT = #{record.updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateby != null">
        UPDATEBY = #{record.updateby,jdbcType=CHAR},
      </if>
      <if test="record.icon != null">
        ICON = #{record.icon,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update F_ITEM
    set ITEM_ID = #{record.itemId,jdbcType=CHAR},
      NAME = #{record.name,jdbcType=NVARCHAR},
      FK_ITEM_ID = #{record.fkItemId,jdbcType=CHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      ISDELETE = #{record.isdelete,jdbcType=NUMERIC},
      CREATEAT = #{record.createat,jdbcType=TIMESTAMP},
      CREATEBY = #{record.createby,jdbcType=CHAR},
      UPDATEAT = #{record.updateat,jdbcType=TIMESTAMP},
      UPDATEBY = #{record.updateby,jdbcType=CHAR},
      ICON = #{record.icon,jdbcType=NVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.intest.dao.entity.ItemBto">
    update F_ITEM
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="fkItemId != null">
        FK_ITEM_ID = #{fkItemId,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null">
        ISDELETE = #{isdelete,jdbcType=NUMERIC},
      </if>
      <if test="createat != null">
        CREATEAT = #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        CREATEBY = #{createby,jdbcType=CHAR},
      </if>
      <if test="updateat != null">
        UPDATEAT = #{updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        UPDATEBY = #{updateby,jdbcType=CHAR},
      </if>
      <if test="icon != null">
        ICON = #{icon,jdbcType=NVARCHAR},
      </if>
    </set>
    where ITEM_ID = #{itemId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.intest.dao.entity.ItemBto">
    update F_ITEM
    set NAME = #{name,jdbcType=NVARCHAR},
      FK_ITEM_ID = #{fkItemId,jdbcType=CHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      ISDELETE = #{isdelete,jdbcType=NUMERIC},
      CREATEAT = #{createat,jdbcType=TIMESTAMP},
      CREATEBY = #{createby,jdbcType=CHAR},
      UPDATEAT = #{updateat,jdbcType=TIMESTAMP},
      UPDATEBY = #{updateby,jdbcType=CHAR},
      ICON = #{icon,jdbcType=NVARCHAR}
    where ITEM_ID = #{itemId,jdbcType=CHAR}
  </update>
</mapper>