<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intest.dao.mapper.OperateLogExtendMapper">

    <select id="getOperateLogList" resultType="com.intest.dao.entity.log.OperateLogListExtend">
    SELECT
    fu.USER_ID ,
    fu.LOGIN_NAME as loginName,
    fu.REAL_NAME as realName,
    fr.ROLE_ID ,
    fr.ROLE_NAME as roleName,
	fol.OPERATE_MODE as actionModel,
	fol.OPERATE_ACTION as actioning,
	fol.BROWSER as browser,
	fol.LOGIN_IP as actionIp,
	fol.ACTION_REMARK as actionRemark,
    fol.CREATEAT as actionTime
    FROM F_OPERATE_LOG fol
	LEFT JOIN F_USER fu ON fol.FK_USER_ID=fu.USER_ID
    LEFT JOIN F_USERROLE fur ON fu.USER_ID=fur.FK_USER_ID
    LEFT JOIN F_ROLE fr ON fur.FK_ROLE_ID=fr.ROLE_ID
	ORDER BY fol.CREATEAT DESC

  </select>

</mapper>