<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intest.dao.mapper.PartsTypeBtoMapper">
  <resultMap id="BaseResultMap" type="com.intest.dao.entity.PartsTypeBto">
    <id column="PARTSTYPE_ID" jdbcType="CHAR" property="partstypeId" />
    <result column="PARTSTYPENAME" jdbcType="NVARCHAR" property="partstypename" />
    <result column="CALIBRATION" jdbcType="NUMERIC" property="calibration" />
    <result column="BRUSHWRITEMODE" jdbcType="NUMERIC" property="brushwritemode" />
    <result column="REMARK" jdbcType="NVARCHAR" property="remark" />
    <result column="FULLNAME" jdbcType="NVARCHAR" property="fullname" />
    <result column="BAUDRATE" jdbcType="NUMERIC" property="baudrate" />
    <result column="PHYICALID" jdbcType="NVARCHAR" property="phyicalid" />
    <result column="FUNCTIONID" jdbcType="NVARCHAR" property="functionid" />
    <result column="RESPONSEID" jdbcType="NVARCHAR" property="responseid" />
    <result column="IDTYPE" jdbcType="NVARCHAR" property="idtype" />
    <result column="NETWORKSEGMENTNAME" jdbcType="NVARCHAR" property="networksegmentname" />
    <result column="ISDELETE" jdbcType="NUMERIC" property="isdelete" />
    <result column="CREATEAT" jdbcType="TIMESTAMP" property="createat" />
    <result column="CREATEBY" jdbcType="CHAR" property="createby" />
    <result column="UPDATEAT" jdbcType="TIMESTAMP" property="updateat" />
    <result column="UPDATEBY" jdbcType="CHAR" property="updateby" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PARTSTYPE_ID, PARTSTYPENAME, CALIBRATION, BRUSHWRITEMODE, REMARK, FULLNAME, BAUDRATE, 
    PHYICALID, FUNCTIONID, RESPONSEID, IDTYPE, NETWORKSEGMENTNAME, ISDELETE, CREATEAT, 
    CREATEBY, UPDATEAT, UPDATEBY
  </sql>
  <select id="selectByExample" parameterType="com.intest.dao.entity.PartsTypeBtoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from F_PARTSTYPE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from F_PARTSTYPE
    where PARTSTYPE_ID = #{partstypeId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from F_PARTSTYPE
    where PARTSTYPE_ID = #{partstypeId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.intest.dao.entity.PartsTypeBtoExample">
    delete from F_PARTSTYPE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.intest.dao.entity.PartsTypeBto">
    insert into F_PARTSTYPE (PARTSTYPE_ID, PARTSTYPENAME, CALIBRATION, 
      BRUSHWRITEMODE, REMARK, FULLNAME, 
      BAUDRATE, PHYICALID, FUNCTIONID, 
      RESPONSEID, IDTYPE, NETWORKSEGMENTNAME, 
      ISDELETE, CREATEAT, CREATEBY, 
      UPDATEAT, UPDATEBY)
    values (#{partstypeId,jdbcType=CHAR}, #{partstypename,jdbcType=NVARCHAR}, #{calibration,jdbcType=NUMERIC}, 
      #{brushwritemode,jdbcType=NUMERIC}, #{remark,jdbcType=NVARCHAR}, #{fullname,jdbcType=NVARCHAR}, 
      #{baudrate,jdbcType=NUMERIC}, #{phyicalid,jdbcType=NVARCHAR}, #{functionid,jdbcType=NVARCHAR}, 
      #{responseid,jdbcType=NVARCHAR}, #{idtype,jdbcType=NVARCHAR}, #{networksegmentname,jdbcType=NVARCHAR}, 
      #{isdelete,jdbcType=NUMERIC}, #{createat,jdbcType=TIMESTAMP}, #{createby,jdbcType=CHAR}, 
      #{updateat,jdbcType=TIMESTAMP}, #{updateby,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.intest.dao.entity.PartsTypeBto">
    insert into F_PARTSTYPE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="partstypeId != null">
        PARTSTYPE_ID,
      </if>
      <if test="partstypename != null">
        PARTSTYPENAME,
      </if>
      <if test="calibration != null">
        CALIBRATION,
      </if>
      <if test="brushwritemode != null">
        BRUSHWRITEMODE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="fullname != null">
        FULLNAME,
      </if>
      <if test="baudrate != null">
        BAUDRATE,
      </if>
      <if test="phyicalid != null">
        PHYICALID,
      </if>
      <if test="functionid != null">
        FUNCTIONID,
      </if>
      <if test="responseid != null">
        RESPONSEID,
      </if>
      <if test="idtype != null">
        IDTYPE,
      </if>
      <if test="networksegmentname != null">
        NETWORKSEGMENTNAME,
      </if>
      <if test="isdelete != null">
        ISDELETE,
      </if>
      <if test="createat != null">
        CREATEAT,
      </if>
      <if test="createby != null">
        CREATEBY,
      </if>
      <if test="updateat != null">
        UPDATEAT,
      </if>
      <if test="updateby != null">
        UPDATEBY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="partstypeId != null">
        #{partstypeId,jdbcType=CHAR},
      </if>
      <if test="partstypename != null">
        #{partstypename,jdbcType=NVARCHAR},
      </if>
      <if test="calibration != null">
        #{calibration,jdbcType=NUMERIC},
      </if>
      <if test="brushwritemode != null">
        #{brushwritemode,jdbcType=NUMERIC},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="fullname != null">
        #{fullname,jdbcType=NVARCHAR},
      </if>
      <if test="baudrate != null">
        #{baudrate,jdbcType=NUMERIC},
      </if>
      <if test="phyicalid != null">
        #{phyicalid,jdbcType=NVARCHAR},
      </if>
      <if test="functionid != null">
        #{functionid,jdbcType=NVARCHAR},
      </if>
      <if test="responseid != null">
        #{responseid,jdbcType=NVARCHAR},
      </if>
      <if test="idtype != null">
        #{idtype,jdbcType=NVARCHAR},
      </if>
      <if test="networksegmentname != null">
        #{networksegmentname,jdbcType=NVARCHAR},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=NUMERIC},
      </if>
      <if test="createat != null">
        #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=CHAR},
      </if>
      <if test="updateat != null">
        #{updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.intest.dao.entity.PartsTypeBtoExample" resultType="java.lang.Long">
    select count(*) from F_PARTSTYPE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update F_PARTSTYPE
    <set>
      <if test="record.partstypeId != null">
        PARTSTYPE_ID = #{record.partstypeId,jdbcType=CHAR},
      </if>
      <if test="record.partstypename != null">
        PARTSTYPENAME = #{record.partstypename,jdbcType=NVARCHAR},
      </if>
      <if test="record.calibration != null">
        CALIBRATION = #{record.calibration,jdbcType=NUMERIC},
      </if>
      <if test="record.brushwritemode != null">
        BRUSHWRITEMODE = #{record.brushwritemode,jdbcType=NUMERIC},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=NVARCHAR},
      </if>
      <if test="record.fullname != null">
        FULLNAME = #{record.fullname,jdbcType=NVARCHAR},
      </if>
      <if test="record.baudrate != null">
        BAUDRATE = #{record.baudrate,jdbcType=NUMERIC},
      </if>
      <if test="record.phyicalid != null">
        PHYICALID = #{record.phyicalid,jdbcType=NVARCHAR},
      </if>
      <if test="record.functionid != null">
        FUNCTIONID = #{record.functionid,jdbcType=NVARCHAR},
      </if>
      <if test="record.responseid != null">
        RESPONSEID = #{record.responseid,jdbcType=NVARCHAR},
      </if>
      <if test="record.idtype != null">
        IDTYPE = #{record.idtype,jdbcType=NVARCHAR},
      </if>
      <if test="record.networksegmentname != null">
        NETWORKSEGMENTNAME = #{record.networksegmentname,jdbcType=NVARCHAR},
      </if>
      <if test="record.isdelete != null">
        ISDELETE = #{record.isdelete,jdbcType=NUMERIC},
      </if>
      <if test="record.createat != null">
        CREATEAT = #{record.createat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createby != null">
        CREATEBY = #{record.createby,jdbcType=CHAR},
      </if>
      <if test="record.updateat != null">
        UPDATEAT = #{record.updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateby != null">
        UPDATEBY = #{record.updateby,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update F_PARTSTYPE
    set PARTSTYPE_ID = #{record.partstypeId,jdbcType=CHAR},
      PARTSTYPENAME = #{record.partstypename,jdbcType=NVARCHAR},
      CALIBRATION = #{record.calibration,jdbcType=NUMERIC},
      BRUSHWRITEMODE = #{record.brushwritemode,jdbcType=NUMERIC},
      REMARK = #{record.remark,jdbcType=NVARCHAR},
      FULLNAME = #{record.fullname,jdbcType=NVARCHAR},
      BAUDRATE = #{record.baudrate,jdbcType=NUMERIC},
      PHYICALID = #{record.phyicalid,jdbcType=NVARCHAR},
      FUNCTIONID = #{record.functionid,jdbcType=NVARCHAR},
      RESPONSEID = #{record.responseid,jdbcType=NVARCHAR},
      IDTYPE = #{record.idtype,jdbcType=NVARCHAR},
      NETWORKSEGMENTNAME = #{record.networksegmentname,jdbcType=NVARCHAR},
      ISDELETE = #{record.isdelete,jdbcType=NUMERIC},
      CREATEAT = #{record.createat,jdbcType=TIMESTAMP},
      CREATEBY = #{record.createby,jdbcType=CHAR},
      UPDATEAT = #{record.updateat,jdbcType=TIMESTAMP},
      UPDATEBY = #{record.updateby,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.intest.dao.entity.PartsTypeBto">
    update F_PARTSTYPE
    <set>
      <if test="partstypename != null">
        PARTSTYPENAME = #{partstypename,jdbcType=NVARCHAR},
      </if>
      <if test="calibration != null">
        CALIBRATION = #{calibration,jdbcType=NUMERIC},
      </if>
      <if test="brushwritemode != null">
        BRUSHWRITEMODE = #{brushwritemode,jdbcType=NUMERIC},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="fullname != null">
        FULLNAME = #{fullname,jdbcType=NVARCHAR},
      </if>
      <if test="baudrate != null">
        BAUDRATE = #{baudrate,jdbcType=NUMERIC},
      </if>
      <if test="phyicalid != null">
        PHYICALID = #{phyicalid,jdbcType=NVARCHAR},
      </if>
      <if test="functionid != null">
        FUNCTIONID = #{functionid,jdbcType=NVARCHAR},
      </if>
      <if test="responseid != null">
        RESPONSEID = #{responseid,jdbcType=NVARCHAR},
      </if>
      <if test="idtype != null">
        IDTYPE = #{idtype,jdbcType=NVARCHAR},
      </if>
      <if test="networksegmentname != null">
        NETWORKSEGMENTNAME = #{networksegmentname,jdbcType=NVARCHAR},
      </if>
      <if test="isdelete != null">
        ISDELETE = #{isdelete,jdbcType=NUMERIC},
      </if>
      <if test="createat != null">
        CREATEAT = #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        CREATEBY = #{createby,jdbcType=CHAR},
      </if>
      <if test="updateat != null">
        UPDATEAT = #{updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        UPDATEBY = #{updateby,jdbcType=CHAR},
      </if>
    </set>
    where PARTSTYPE_ID = #{partstypeId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.intest.dao.entity.PartsTypeBto">
    update F_PARTSTYPE
    set PARTSTYPENAME = #{partstypename,jdbcType=NVARCHAR},
      CALIBRATION = #{calibration,jdbcType=NUMERIC},
      BRUSHWRITEMODE = #{brushwritemode,jdbcType=NUMERIC},
      REMARK = #{remark,jdbcType=NVARCHAR},
      FULLNAME = #{fullname,jdbcType=NVARCHAR},
      BAUDRATE = #{baudrate,jdbcType=NUMERIC},
      PHYICALID = #{phyicalid,jdbcType=NVARCHAR},
      FUNCTIONID = #{functionid,jdbcType=NVARCHAR},
      RESPONSEID = #{responseid,jdbcType=NVARCHAR},
      IDTYPE = #{idtype,jdbcType=NVARCHAR},
      NETWORKSEGMENTNAME = #{networksegmentname,jdbcType=NVARCHAR},
      ISDELETE = #{isdelete,jdbcType=NUMERIC},
      CREATEAT = #{createat,jdbcType=TIMESTAMP},
      CREATEBY = #{createby,jdbcType=CHAR},
      UPDATEAT = #{updateat,jdbcType=TIMESTAMP},
      UPDATEBY = #{updateby,jdbcType=CHAR}
    where PARTSTYPE_ID = #{partstypeId,jdbcType=CHAR}
  </update>
</mapper>