<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intest.dao.mapper.PartsBtoMapper">
  <resultMap id="BaseResultMap" type="com.intest.dao.entity.PartsBto">
    <id column="PARTS_ID" jdbcType="CHAR" property="partsId" />
    <result column="PARTSNAME" jdbcType="NVARCHAR" property="partsname" />
    <result column="PARTSCODE" jdbcType="NVARCHAR" property="partscode" />
    <result column="FK_PARTSTYPE_ID" jdbcType="CHAR" property="fkPartstypeId" />
    <result column="FK_CARTYPE_ID" jdbcType="CHAR" property="fkCartypeId" />
    <result column="ORDERNUM" jdbcType="NUMERIC" property="ordernum" />
    <result column="CALIBRATION" jdbcType="NUMERIC" property="calibration" />
    <result column="BRUSHWRITEMODE" jdbcType="NUMERIC" property="brushwritemode" />
    <result column="BAUDRATE" jdbcType="NUMERIC" property="baudrate" />
    <result column="PHYICALID" jdbcType="NVARCHAR" property="phyicalid" />
    <result column="FUNCTIONID" jdbcType="NVARCHAR" property="functionid" />
    <result column="RESPONSEID" jdbcType="NVARCHAR" property="responseid" />
    <result column="IDTYPE" jdbcType="NVARCHAR" property="idtype" />
    <result column="NETWORKSEGMENTNAME" jdbcType="NVARCHAR" property="networksegmentname" />
    <result column="HARDWAREVERSION" jdbcType="NVARCHAR" property="hardwareversion" />
    <result column="PARTNUMBER" jdbcType="NVARCHAR" property="partnumber" />
    <result column="CANPORT" jdbcType="NUMERIC" property="canport" />
    <result column="ISDELETE" jdbcType="NUMERIC" property="isdelete" />
    <result column="CREATEAT" jdbcType="TIMESTAMP" property="createat" />
    <result column="CREATEBY" jdbcType="CHAR" property="createby" />
    <result column="UPDATEAT" jdbcType="TIMESTAMP" property="updateat" />
    <result column="UPDATEBY" jdbcType="CHAR" property="updateby" />
    <result column="REMARK" jdbcType="NVARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PARTS_ID, PARTSNAME, PARTSCODE, FK_PARTSTYPE_ID, FK_CARTYPE_ID, ORDERNUM, CALIBRATION, 
    BRUSHWRITEMODE, BAUDRATE, PHYICALID, FUNCTIONID, RESPONSEID, IDTYPE, NETWORKSEGMENTNAME, 
    HARDWAREVERSION, PARTNUMBER, CANPORT, ISDELETE, CREATEAT, CREATEBY, UPDATEAT, UPDATEBY, 
    REMARK
  </sql>
  <select id="selectByExample" parameterType="com.intest.dao.entity.PartsBtoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from F_PARTS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from F_PARTS
    where PARTS_ID = #{partsId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from F_PARTS
    where PARTS_ID = #{partsId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.intest.dao.entity.PartsBtoExample">
    delete from F_PARTS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.intest.dao.entity.PartsBto">
    insert into F_PARTS (PARTS_ID, PARTSNAME, PARTSCODE, 
      FK_PARTSTYPE_ID, FK_CARTYPE_ID, ORDERNUM, 
      CALIBRATION, BRUSHWRITEMODE, BAUDRATE, 
      PHYICALID, FUNCTIONID, RESPONSEID, 
      IDTYPE, NETWORKSEGMENTNAME, HARDWAREVERSION, 
      PARTNUMBER, CANPORT, ISDELETE, 
      CREATEAT, CREATEBY, UPDATEAT, 
      UPDATEBY, REMARK)
    values (#{partsId,jdbcType=CHAR}, #{partsname,jdbcType=NVARCHAR}, #{partscode,jdbcType=NVARCHAR}, 
      #{fkPartstypeId,jdbcType=CHAR}, #{fkCartypeId,jdbcType=CHAR}, #{ordernum,jdbcType=NUMERIC}, 
      #{calibration,jdbcType=NUMERIC}, #{brushwritemode,jdbcType=NUMERIC}, #{baudrate,jdbcType=NUMERIC}, 
      #{phyicalid,jdbcType=NVARCHAR}, #{functionid,jdbcType=NVARCHAR}, #{responseid,jdbcType=NVARCHAR}, 
      #{idtype,jdbcType=NVARCHAR}, #{networksegmentname,jdbcType=NVARCHAR}, #{hardwareversion,jdbcType=NVARCHAR}, 
      #{partnumber,jdbcType=NVARCHAR}, #{canport,jdbcType=NUMERIC}, #{isdelete,jdbcType=NUMERIC}, 
      #{createat,jdbcType=TIMESTAMP}, #{createby,jdbcType=CHAR}, #{updateat,jdbcType=TIMESTAMP}, 
      #{updateby,jdbcType=CHAR}, #{remark,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.intest.dao.entity.PartsBto">
    insert into F_PARTS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="partsId != null">
        PARTS_ID,
      </if>
      <if test="partsname != null">
        PARTSNAME,
      </if>
      <if test="partscode != null">
        PARTSCODE,
      </if>
      <if test="fkPartstypeId != null">
        FK_PARTSTYPE_ID,
      </if>
      <if test="fkCartypeId != null">
        FK_CARTYPE_ID,
      </if>
      <if test="ordernum != null">
        ORDERNUM,
      </if>
      <if test="calibration != null">
        CALIBRATION,
      </if>
      <if test="brushwritemode != null">
        BRUSHWRITEMODE,
      </if>
      <if test="baudrate != null">
        BAUDRATE,
      </if>
      <if test="phyicalid != null">
        PHYICALID,
      </if>
      <if test="functionid != null">
        FUNCTIONID,
      </if>
      <if test="responseid != null">
        RESPONSEID,
      </if>
      <if test="idtype != null">
        IDTYPE,
      </if>
      <if test="networksegmentname != null">
        NETWORKSEGMENTNAME,
      </if>
      <if test="hardwareversion != null">
        HARDWAREVERSION,
      </if>
      <if test="partnumber != null">
        PARTNUMBER,
      </if>
      <if test="canport != null">
        CANPORT,
      </if>
      <if test="isdelete != null">
        ISDELETE,
      </if>
      <if test="createat != null">
        CREATEAT,
      </if>
      <if test="createby != null">
        CREATEBY,
      </if>
      <if test="updateat != null">
        UPDATEAT,
      </if>
      <if test="updateby != null">
        UPDATEBY,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="partsId != null">
        #{partsId,jdbcType=CHAR},
      </if>
      <if test="partsname != null">
        #{partsname,jdbcType=NVARCHAR},
      </if>
      <if test="partscode != null">
        #{partscode,jdbcType=NVARCHAR},
      </if>
      <if test="fkPartstypeId != null">
        #{fkPartstypeId,jdbcType=CHAR},
      </if>
      <if test="fkCartypeId != null">
        #{fkCartypeId,jdbcType=CHAR},
      </if>
      <if test="ordernum != null">
        #{ordernum,jdbcType=NUMERIC},
      </if>
      <if test="calibration != null">
        #{calibration,jdbcType=NUMERIC},
      </if>
      <if test="brushwritemode != null">
        #{brushwritemode,jdbcType=NUMERIC},
      </if>
      <if test="baudrate != null">
        #{baudrate,jdbcType=NUMERIC},
      </if>
      <if test="phyicalid != null">
        #{phyicalid,jdbcType=NVARCHAR},
      </if>
      <if test="functionid != null">
        #{functionid,jdbcType=NVARCHAR},
      </if>
      <if test="responseid != null">
        #{responseid,jdbcType=NVARCHAR},
      </if>
      <if test="idtype != null">
        #{idtype,jdbcType=NVARCHAR},
      </if>
      <if test="networksegmentname != null">
        #{networksegmentname,jdbcType=NVARCHAR},
      </if>
      <if test="hardwareversion != null">
        #{hardwareversion,jdbcType=NVARCHAR},
      </if>
      <if test="partnumber != null">
        #{partnumber,jdbcType=NVARCHAR},
      </if>
      <if test="canport != null">
        #{canport,jdbcType=NUMERIC},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=NUMERIC},
      </if>
      <if test="createat != null">
        #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=CHAR},
      </if>
      <if test="updateat != null">
        #{updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.intest.dao.entity.PartsBtoExample" resultType="java.lang.Long">
    select count(*) from F_PARTS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update F_PARTS
    <set>
      <if test="record.partsId != null">
        PARTS_ID = #{record.partsId,jdbcType=CHAR},
      </if>
      <if test="record.partsname != null">
        PARTSNAME = #{record.partsname,jdbcType=NVARCHAR},
      </if>
      <if test="record.partscode != null">
        PARTSCODE = #{record.partscode,jdbcType=NVARCHAR},
      </if>
      <if test="record.fkPartstypeId != null">
        FK_PARTSTYPE_ID = #{record.fkPartstypeId,jdbcType=CHAR},
      </if>
      <if test="record.fkCartypeId != null">
        FK_CARTYPE_ID = #{record.fkCartypeId,jdbcType=CHAR},
      </if>
      <if test="record.ordernum != null">
        ORDERNUM = #{record.ordernum,jdbcType=NUMERIC},
      </if>
      <if test="record.calibration != null">
        CALIBRATION = #{record.calibration,jdbcType=NUMERIC},
      </if>
      <if test="record.brushwritemode != null">
        BRUSHWRITEMODE = #{record.brushwritemode,jdbcType=NUMERIC},
      </if>
      <if test="record.baudrate != null">
        BAUDRATE = #{record.baudrate,jdbcType=NUMERIC},
      </if>
      <if test="record.phyicalid != null">
        PHYICALID = #{record.phyicalid,jdbcType=NVARCHAR},
      </if>
      <if test="record.functionid != null">
        FUNCTIONID = #{record.functionid,jdbcType=NVARCHAR},
      </if>
      <if test="record.responseid != null">
        RESPONSEID = #{record.responseid,jdbcType=NVARCHAR},
      </if>
      <if test="record.idtype != null">
        IDTYPE = #{record.idtype,jdbcType=NVARCHAR},
      </if>
      <if test="record.networksegmentname != null">
        NETWORKSEGMENTNAME = #{record.networksegmentname,jdbcType=NVARCHAR},
      </if>
      <if test="record.hardwareversion != null">
        HARDWAREVERSION = #{record.hardwareversion,jdbcType=NVARCHAR},
      </if>
      <if test="record.partnumber != null">
        PARTNUMBER = #{record.partnumber,jdbcType=NVARCHAR},
      </if>
      <if test="record.canport != null">
        CANPORT = #{record.canport,jdbcType=NUMERIC},
      </if>
      <if test="record.isdelete != null">
        ISDELETE = #{record.isdelete,jdbcType=NUMERIC},
      </if>
      <if test="record.createat != null">
        CREATEAT = #{record.createat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createby != null">
        CREATEBY = #{record.createby,jdbcType=CHAR},
      </if>
      <if test="record.updateat != null">
        UPDATEAT = #{record.updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateby != null">
        UPDATEBY = #{record.updateby,jdbcType=CHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update F_PARTS
    set PARTS_ID = #{record.partsId,jdbcType=CHAR},
      PARTSNAME = #{record.partsname,jdbcType=NVARCHAR},
      PARTSCODE = #{record.partscode,jdbcType=NVARCHAR},
      FK_PARTSTYPE_ID = #{record.fkPartstypeId,jdbcType=CHAR},
      FK_CARTYPE_ID = #{record.fkCartypeId,jdbcType=CHAR},
      ORDERNUM = #{record.ordernum,jdbcType=NUMERIC},
      CALIBRATION = #{record.calibration,jdbcType=NUMERIC},
      BRUSHWRITEMODE = #{record.brushwritemode,jdbcType=NUMERIC},
      BAUDRATE = #{record.baudrate,jdbcType=NUMERIC},
      PHYICALID = #{record.phyicalid,jdbcType=NVARCHAR},
      FUNCTIONID = #{record.functionid,jdbcType=NVARCHAR},
      RESPONSEID = #{record.responseid,jdbcType=NVARCHAR},
      IDTYPE = #{record.idtype,jdbcType=NVARCHAR},
      NETWORKSEGMENTNAME = #{record.networksegmentname,jdbcType=NVARCHAR},
      HARDWAREVERSION = #{record.hardwareversion,jdbcType=NVARCHAR},
      PARTNUMBER = #{record.partnumber,jdbcType=NVARCHAR},
      CANPORT = #{record.canport,jdbcType=NUMERIC},
      ISDELETE = #{record.isdelete,jdbcType=NUMERIC},
      CREATEAT = #{record.createat,jdbcType=TIMESTAMP},
      CREATEBY = #{record.createby,jdbcType=CHAR},
      UPDATEAT = #{record.updateat,jdbcType=TIMESTAMP},
      UPDATEBY = #{record.updateby,jdbcType=CHAR},
      REMARK = #{record.remark,jdbcType=NVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.intest.dao.entity.PartsBto">
    update F_PARTS
    <set>
      <if test="partsname != null">
        PARTSNAME = #{partsname,jdbcType=NVARCHAR},
      </if>
      <if test="partscode != null">
        PARTSCODE = #{partscode,jdbcType=NVARCHAR},
      </if>
      <if test="fkPartstypeId != null">
        FK_PARTSTYPE_ID = #{fkPartstypeId,jdbcType=CHAR},
      </if>
      <if test="fkCartypeId != null">
        FK_CARTYPE_ID = #{fkCartypeId,jdbcType=CHAR},
      </if>
      <if test="ordernum != null">
        ORDERNUM = #{ordernum,jdbcType=NUMERIC},
      </if>
      <if test="calibration != null">
        CALIBRATION = #{calibration,jdbcType=NUMERIC},
      </if>
      <if test="brushwritemode != null">
        BRUSHWRITEMODE = #{brushwritemode,jdbcType=NUMERIC},
      </if>
      <if test="baudrate != null">
        BAUDRATE = #{baudrate,jdbcType=NUMERIC},
      </if>
      <if test="phyicalid != null">
        PHYICALID = #{phyicalid,jdbcType=NVARCHAR},
      </if>
      <if test="functionid != null">
        FUNCTIONID = #{functionid,jdbcType=NVARCHAR},
      </if>
      <if test="responseid != null">
        RESPONSEID = #{responseid,jdbcType=NVARCHAR},
      </if>
      <if test="idtype != null">
        IDTYPE = #{idtype,jdbcType=NVARCHAR},
      </if>
      <if test="networksegmentname != null">
        NETWORKSEGMENTNAME = #{networksegmentname,jdbcType=NVARCHAR},
      </if>
      <if test="hardwareversion != null">
        HARDWAREVERSION = #{hardwareversion,jdbcType=NVARCHAR},
      </if>
      <if test="partnumber != null">
        PARTNUMBER = #{partnumber,jdbcType=NVARCHAR},
      </if>
      <if test="canport != null">
        CANPORT = #{canport,jdbcType=NUMERIC},
      </if>
      <if test="isdelete != null">
        ISDELETE = #{isdelete,jdbcType=NUMERIC},
      </if>
      <if test="createat != null">
        CREATEAT = #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        CREATEBY = #{createby,jdbcType=CHAR},
      </if>
      <if test="updateat != null">
        UPDATEAT = #{updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        UPDATEBY = #{updateby,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=NVARCHAR},
      </if>
    </set>
    where PARTS_ID = #{partsId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.intest.dao.entity.PartsBto">
    update F_PARTS
    set PARTSNAME = #{partsname,jdbcType=NVARCHAR},
      PARTSCODE = #{partscode,jdbcType=NVARCHAR},
      FK_PARTSTYPE_ID = #{fkPartstypeId,jdbcType=CHAR},
      FK_CARTYPE_ID = #{fkCartypeId,jdbcType=CHAR},
      ORDERNUM = #{ordernum,jdbcType=NUMERIC},
      CALIBRATION = #{calibration,jdbcType=NUMERIC},
      BRUSHWRITEMODE = #{brushwritemode,jdbcType=NUMERIC},
      BAUDRATE = #{baudrate,jdbcType=NUMERIC},
      PHYICALID = #{phyicalid,jdbcType=NVARCHAR},
      FUNCTIONID = #{functionid,jdbcType=NVARCHAR},
      RESPONSEID = #{responseid,jdbcType=NVARCHAR},
      IDTYPE = #{idtype,jdbcType=NVARCHAR},
      NETWORKSEGMENTNAME = #{networksegmentname,jdbcType=NVARCHAR},
      HARDWAREVERSION = #{hardwareversion,jdbcType=NVARCHAR},
      PARTNUMBER = #{partnumber,jdbcType=NVARCHAR},
      CANPORT = #{canport,jdbcType=NUMERIC},
      ISDELETE = #{isdelete,jdbcType=NUMERIC},
      CREATEAT = #{createat,jdbcType=TIMESTAMP},
      CREATEBY = #{createby,jdbcType=CHAR},
      UPDATEAT = #{updateat,jdbcType=TIMESTAMP},
      UPDATEBY = #{updateby,jdbcType=CHAR},
      REMARK = #{remark,jdbcType=NVARCHAR}
    where PARTS_ID = #{partsId,jdbcType=CHAR}
  </update>
</mapper>