<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intest.dao.mapper.RolePermissionBtoMapper">
  <resultMap id="BaseResultMap" type="com.intest.dao.entity.RolePermissionBto">
    <id column="ROLEPERMISSION_ID" jdbcType="CHAR" property="rolepermissionId" />
    <result column="FK_ROLE_ID" jdbcType="CHAR" property="fkRoleId" />
    <result column="FK_PERMISSION_ID" jdbcType="CHAR" property="fkPermissionId" />
    <result column="DEFAULT_CHECKED" jdbcType="NUMERIC" property="defaultChecked" />
    <result column="ISDELETE" jdbcType="NUMERIC" property="isdelete" />
    <result column="CREATEAT" jdbcType="TIMESTAMP" property="createat" />
    <result column="CREATEBY" jdbcType="CHAR" property="createby" />
    <result column="UPDATEAT" jdbcType="TIMESTAMP" property="updateat" />
    <result column="UPDATEBY" jdbcType="CHAR" property="updateby" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ROLEPERMISSION_ID, FK_ROLE_ID, FK_PERMISSION_ID, DEFAULT_CHECKED, ISDELETE, CREATEAT, 
    CREATEBY, UPDATEAT, UPDATEBY
  </sql>
  <select id="selectByExample" parameterType="com.intest.dao.entity.RolePermissionBtoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from F_ROLEPERMISSION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from F_ROLEPERMISSION
    where ROLEPERMISSION_ID = #{rolepermissionId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from F_ROLEPERMISSION
    where ROLEPERMISSION_ID = #{rolepermissionId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.intest.dao.entity.RolePermissionBtoExample">
    delete from F_ROLEPERMISSION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.intest.dao.entity.RolePermissionBto">
    insert into F_ROLEPERMISSION (ROLEPERMISSION_ID, FK_ROLE_ID, FK_PERMISSION_ID, 
      DEFAULT_CHECKED, ISDELETE, CREATEAT, 
      CREATEBY, UPDATEAT, UPDATEBY
      )
    values (#{rolepermissionId,jdbcType=CHAR}, #{fkRoleId,jdbcType=CHAR}, #{fkPermissionId,jdbcType=CHAR}, 
      #{defaultChecked,jdbcType=NUMERIC}, #{isdelete,jdbcType=NUMERIC}, #{createat,jdbcType=TIMESTAMP}, 
      #{createby,jdbcType=CHAR}, #{updateat,jdbcType=TIMESTAMP}, #{updateby,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.intest.dao.entity.RolePermissionBto">
    insert into F_ROLEPERMISSION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rolepermissionId != null">
        ROLEPERMISSION_ID,
      </if>
      <if test="fkRoleId != null">
        FK_ROLE_ID,
      </if>
      <if test="fkPermissionId != null">
        FK_PERMISSION_ID,
      </if>
      <if test="defaultChecked != null">
        DEFAULT_CHECKED,
      </if>
      <if test="isdelete != null">
        ISDELETE,
      </if>
      <if test="createat != null">
        CREATEAT,
      </if>
      <if test="createby != null">
        CREATEBY,
      </if>
      <if test="updateat != null">
        UPDATEAT,
      </if>
      <if test="updateby != null">
        UPDATEBY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rolepermissionId != null">
        #{rolepermissionId,jdbcType=CHAR},
      </if>
      <if test="fkRoleId != null">
        #{fkRoleId,jdbcType=CHAR},
      </if>
      <if test="fkPermissionId != null">
        #{fkPermissionId,jdbcType=CHAR},
      </if>
      <if test="defaultChecked != null">
        #{defaultChecked,jdbcType=NUMERIC},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=NUMERIC},
      </if>
      <if test="createat != null">
        #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=CHAR},
      </if>
      <if test="updateat != null">
        #{updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.intest.dao.entity.RolePermissionBtoExample" resultType="java.lang.Long">
    select count(*) from F_ROLEPERMISSION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update F_ROLEPERMISSION
    <set>
      <if test="record.rolepermissionId != null">
        ROLEPERMISSION_ID = #{record.rolepermissionId,jdbcType=CHAR},
      </if>
      <if test="record.fkRoleId != null">
        FK_ROLE_ID = #{record.fkRoleId,jdbcType=CHAR},
      </if>
      <if test="record.fkPermissionId != null">
        FK_PERMISSION_ID = #{record.fkPermissionId,jdbcType=CHAR},
      </if>
      <if test="record.defaultChecked != null">
        DEFAULT_CHECKED = #{record.defaultChecked,jdbcType=NUMERIC},
      </if>
      <if test="record.isdelete != null">
        ISDELETE = #{record.isdelete,jdbcType=NUMERIC},
      </if>
      <if test="record.createat != null">
        CREATEAT = #{record.createat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createby != null">
        CREATEBY = #{record.createby,jdbcType=CHAR},
      </if>
      <if test="record.updateat != null">
        UPDATEAT = #{record.updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateby != null">
        UPDATEBY = #{record.updateby,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update F_ROLEPERMISSION
    set ROLEPERMISSION_ID = #{record.rolepermissionId,jdbcType=CHAR},
      FK_ROLE_ID = #{record.fkRoleId,jdbcType=CHAR},
      FK_PERMISSION_ID = #{record.fkPermissionId,jdbcType=CHAR},
      DEFAULT_CHECKED = #{record.defaultChecked,jdbcType=NUMERIC},
      ISDELETE = #{record.isdelete,jdbcType=NUMERIC},
      CREATEAT = #{record.createat,jdbcType=TIMESTAMP},
      CREATEBY = #{record.createby,jdbcType=CHAR},
      UPDATEAT = #{record.updateat,jdbcType=TIMESTAMP},
      UPDATEBY = #{record.updateby,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.intest.dao.entity.RolePermissionBto">
    update F_ROLEPERMISSION
    <set>
      <if test="fkRoleId != null">
        FK_ROLE_ID = #{fkRoleId,jdbcType=CHAR},
      </if>
      <if test="fkPermissionId != null">
        FK_PERMISSION_ID = #{fkPermissionId,jdbcType=CHAR},
      </if>
      <if test="defaultChecked != null">
        DEFAULT_CHECKED = #{defaultChecked,jdbcType=NUMERIC},
      </if>
      <if test="isdelete != null">
        ISDELETE = #{isdelete,jdbcType=NUMERIC},
      </if>
      <if test="createat != null">
        CREATEAT = #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        CREATEBY = #{createby,jdbcType=CHAR},
      </if>
      <if test="updateat != null">
        UPDATEAT = #{updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        UPDATEBY = #{updateby,jdbcType=CHAR},
      </if>
    </set>
    where ROLEPERMISSION_ID = #{rolepermissionId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.intest.dao.entity.RolePermissionBto">
    update F_ROLEPERMISSION
    set FK_ROLE_ID = #{fkRoleId,jdbcType=CHAR},
      FK_PERMISSION_ID = #{fkPermissionId,jdbcType=CHAR},
      DEFAULT_CHECKED = #{defaultChecked,jdbcType=NUMERIC},
      ISDELETE = #{isdelete,jdbcType=NUMERIC},
      CREATEAT = #{createat,jdbcType=TIMESTAMP},
      CREATEBY = #{createby,jdbcType=CHAR},
      UPDATEAT = #{updateat,jdbcType=TIMESTAMP},
      UPDATEBY = #{updateby,jdbcType=CHAR}
    where ROLEPERMISSION_ID = #{rolepermissionId,jdbcType=CHAR}
  </update>
</mapper>