<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intest.dao.mapper.TaskCarStatusLogBtoMapper">
  <resultMap id="BaseResultMap" type="com.intest.dao.entity.TaskCarStatusLogBto">
    <id column="TASKCARSTATUSLOG_ID" jdbcType="CHAR" property="taskcarstatuslogId" />
    <result column="FK_TASKCAR_ID" jdbcType="CHAR" property="fkTaskcarId" />
    <result column="FK_TASKCARSTATUSVALUE_CODE" jdbcType="CHAR" property="fkTaskcarstatusvalueCode" />
    <result column="NOTE" jdbcType="NVARCHAR" property="note" />
    <result column="TUPLOADAT" jdbcType="TIMESTAMP" property="tuploadat" />
    <result column="FK_PLATFORMAPILOG_ID" jdbcType="CHAR" property="fkPlatformapilogId" />
    <result column="CREATEAT" jdbcType="TIMESTAMP" property="createat" />
    <result column="CREATEBY" jdbcType="CHAR" property="createby" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TASKCARSTATUSLOG_ID, FK_TASKCAR_ID, FK_TASKCARSTATUSVALUE_CODE, NOTE, TUPLOADAT, 
    FK_PLATFORMAPILOG_ID, CREATEAT, CREATEBY
  </sql>
  <select id="selectByExample" parameterType="com.intest.dao.entity.TaskCarStatusLogBtoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from F_TASKCARSTATUSLOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from F_TASKCARSTATUSLOG
    where TASKCARSTATUSLOG_ID = #{taskcarstatuslogId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from F_TASKCARSTATUSLOG
    where TASKCARSTATUSLOG_ID = #{taskcarstatuslogId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.intest.dao.entity.TaskCarStatusLogBtoExample">
    delete from F_TASKCARSTATUSLOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.intest.dao.entity.TaskCarStatusLogBto">
    insert into F_TASKCARSTATUSLOG (TASKCARSTATUSLOG_ID, FK_TASKCAR_ID, FK_TASKCARSTATUSVALUE_CODE, 
      NOTE, TUPLOADAT, FK_PLATFORMAPILOG_ID, 
      CREATEAT, CREATEBY)
    values (#{taskcarstatuslogId,jdbcType=CHAR}, #{fkTaskcarId,jdbcType=CHAR}, #{fkTaskcarstatusvalueCode,jdbcType=CHAR}, 
      #{note,jdbcType=NVARCHAR}, #{tuploadat,jdbcType=TIMESTAMP}, #{fkPlatformapilogId,jdbcType=CHAR}, 
      #{createat,jdbcType=TIMESTAMP}, #{createby,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.intest.dao.entity.TaskCarStatusLogBto">
    insert into F_TASKCARSTATUSLOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskcarstatuslogId != null">
        TASKCARSTATUSLOG_ID,
      </if>
      <if test="fkTaskcarId != null">
        FK_TASKCAR_ID,
      </if>
      <if test="fkTaskcarstatusvalueCode != null">
        FK_TASKCARSTATUSVALUE_CODE,
      </if>
      <if test="note != null">
        NOTE,
      </if>
      <if test="tuploadat != null">
        TUPLOADAT,
      </if>
      <if test="fkPlatformapilogId != null">
        FK_PLATFORMAPILOG_ID,
      </if>
      <if test="createat != null">
        CREATEAT,
      </if>
      <if test="createby != null">
        CREATEBY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskcarstatuslogId != null">
        #{taskcarstatuslogId,jdbcType=CHAR},
      </if>
      <if test="fkTaskcarId != null">
        #{fkTaskcarId,jdbcType=CHAR},
      </if>
      <if test="fkTaskcarstatusvalueCode != null">
        #{fkTaskcarstatusvalueCode,jdbcType=CHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=NVARCHAR},
      </if>
      <if test="tuploadat != null">
        #{tuploadat,jdbcType=TIMESTAMP},
      </if>
      <if test="fkPlatformapilogId != null">
        #{fkPlatformapilogId,jdbcType=CHAR},
      </if>
      <if test="createat != null">
        #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.intest.dao.entity.TaskCarStatusLogBtoExample" resultType="java.lang.Long">
    select count(*) from F_TASKCARSTATUSLOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update F_TASKCARSTATUSLOG
    <set>
      <if test="record.taskcarstatuslogId != null">
        TASKCARSTATUSLOG_ID = #{record.taskcarstatuslogId,jdbcType=CHAR},
      </if>
      <if test="record.fkTaskcarId != null">
        FK_TASKCAR_ID = #{record.fkTaskcarId,jdbcType=CHAR},
      </if>
      <if test="record.fkTaskcarstatusvalueCode != null">
        FK_TASKCARSTATUSVALUE_CODE = #{record.fkTaskcarstatusvalueCode,jdbcType=CHAR},
      </if>
      <if test="record.note != null">
        NOTE = #{record.note,jdbcType=NVARCHAR},
      </if>
      <if test="record.tuploadat != null">
        TUPLOADAT = #{record.tuploadat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fkPlatformapilogId != null">
        FK_PLATFORMAPILOG_ID = #{record.fkPlatformapilogId,jdbcType=CHAR},
      </if>
      <if test="record.createat != null">
        CREATEAT = #{record.createat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createby != null">
        CREATEBY = #{record.createby,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update F_TASKCARSTATUSLOG
    set TASKCARSTATUSLOG_ID = #{record.taskcarstatuslogId,jdbcType=CHAR},
      FK_TASKCAR_ID = #{record.fkTaskcarId,jdbcType=CHAR},
      FK_TASKCARSTATUSVALUE_CODE = #{record.fkTaskcarstatusvalueCode,jdbcType=CHAR},
      NOTE = #{record.note,jdbcType=NVARCHAR},
      TUPLOADAT = #{record.tuploadat,jdbcType=TIMESTAMP},
      FK_PLATFORMAPILOG_ID = #{record.fkPlatformapilogId,jdbcType=CHAR},
      CREATEAT = #{record.createat,jdbcType=TIMESTAMP},
      CREATEBY = #{record.createby,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.intest.dao.entity.TaskCarStatusLogBto">
    update F_TASKCARSTATUSLOG
    <set>
      <if test="fkTaskcarId != null">
        FK_TASKCAR_ID = #{fkTaskcarId,jdbcType=CHAR},
      </if>
      <if test="fkTaskcarstatusvalueCode != null">
        FK_TASKCARSTATUSVALUE_CODE = #{fkTaskcarstatusvalueCode,jdbcType=CHAR},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=NVARCHAR},
      </if>
      <if test="tuploadat != null">
        TUPLOADAT = #{tuploadat,jdbcType=TIMESTAMP},
      </if>
      <if test="fkPlatformapilogId != null">
        FK_PLATFORMAPILOG_ID = #{fkPlatformapilogId,jdbcType=CHAR},
      </if>
      <if test="createat != null">
        CREATEAT = #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        CREATEBY = #{createby,jdbcType=CHAR},
      </if>
    </set>
    where TASKCARSTATUSLOG_ID = #{taskcarstatuslogId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.intest.dao.entity.TaskCarStatusLogBto">
    update F_TASKCARSTATUSLOG
    set FK_TASKCAR_ID = #{fkTaskcarId,jdbcType=CHAR},
      FK_TASKCARSTATUSVALUE_CODE = #{fkTaskcarstatusvalueCode,jdbcType=CHAR},
      NOTE = #{note,jdbcType=NVARCHAR},
      TUPLOADAT = #{tuploadat,jdbcType=TIMESTAMP},
      FK_PLATFORMAPILOG_ID = #{fkPlatformapilogId,jdbcType=CHAR},
      CREATEAT = #{createat,jdbcType=TIMESTAMP},
      CREATEBY = #{createby,jdbcType=CHAR}
    where TASKCARSTATUSLOG_ID = #{taskcarstatuslogId,jdbcType=CHAR}
  </update>
</mapper>