<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intest.dao.mapper.TaskCarBtoMapper">
  <resultMap id="BaseResultMap" type="com.intest.dao.entity.TaskCarBto">
    <id column="TASKCAR_ID" jdbcType="CHAR" property="taskcarId" />
    <result column="FK_TASK_ID" jdbcType="CHAR" property="fkTaskId" />
    <result column="VIN" jdbcType="CHAR" property="vin" />
    <result column="FK_TASKCARSTATUSVALUE_CODE" jdbcType="CHAR" property="fkTaskcarstatusvalueCode" />
    <result column="PROGRESS" jdbcType="NUMERIC" property="progress" />
    <result column="UPGRADETIME" jdbcType="CHAR" property="upgradetime" />
    <result column="DESCRIPTION" jdbcType="NVARCHAR" property="description" />
    <result column="ISDELETE" jdbcType="NUMERIC" property="isdelete" />
    <result column="CREATEAT" jdbcType="TIMESTAMP" property="createat" />
    <result column="CREATEBY" jdbcType="CHAR" property="createby" />
    <result column="UPDATEAT" jdbcType="TIMESTAMP" property="updateat" />
    <result column="UPDATEBY" jdbcType="CHAR" property="updateby" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TASKCAR_ID, FK_TASK_ID, VIN, FK_TASKCARSTATUSVALUE_CODE, PROGRESS, UPGRADETIME, DESCRIPTION, 
    ISDELETE, CREATEAT, CREATEBY, UPDATEAT, UPDATEBY
  </sql>
  <select id="selectByExample" parameterType="com.intest.dao.entity.TaskCarBtoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from F_TASKCAR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from F_TASKCAR
    where TASKCAR_ID = #{taskcarId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from F_TASKCAR
    where TASKCAR_ID = #{taskcarId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.intest.dao.entity.TaskCarBtoExample">
    delete from F_TASKCAR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.intest.dao.entity.TaskCarBto">
    insert into F_TASKCAR (TASKCAR_ID, FK_TASK_ID, VIN, 
      FK_TASKCARSTATUSVALUE_CODE, PROGRESS, UPGRADETIME, 
      DESCRIPTION, ISDELETE, CREATEAT, 
      CREATEBY, UPDATEAT, UPDATEBY
      )
    values (#{taskcarId,jdbcType=CHAR}, #{fkTaskId,jdbcType=CHAR}, #{vin,jdbcType=CHAR}, 
      #{fkTaskcarstatusvalueCode,jdbcType=CHAR}, #{progress,jdbcType=NUMERIC}, #{upgradetime,jdbcType=CHAR}, 
      #{description,jdbcType=NVARCHAR}, #{isdelete,jdbcType=NUMERIC}, #{createat,jdbcType=TIMESTAMP}, 
      #{createby,jdbcType=CHAR}, #{updateat,jdbcType=TIMESTAMP}, #{updateby,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.intest.dao.entity.TaskCarBto">
    insert into F_TASKCAR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskcarId != null">
        TASKCAR_ID,
      </if>
      <if test="fkTaskId != null">
        FK_TASK_ID,
      </if>
      <if test="vin != null">
        VIN,
      </if>
      <if test="fkTaskcarstatusvalueCode != null">
        FK_TASKCARSTATUSVALUE_CODE,
      </if>
      <if test="progress != null">
        PROGRESS,
      </if>
      <if test="upgradetime != null">
        UPGRADETIME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="isdelete != null">
        ISDELETE,
      </if>
      <if test="createat != null">
        CREATEAT,
      </if>
      <if test="createby != null">
        CREATEBY,
      </if>
      <if test="updateat != null">
        UPDATEAT,
      </if>
      <if test="updateby != null">
        UPDATEBY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskcarId != null">
        #{taskcarId,jdbcType=CHAR},
      </if>
      <if test="fkTaskId != null">
        #{fkTaskId,jdbcType=CHAR},
      </if>
      <if test="vin != null">
        #{vin,jdbcType=CHAR},
      </if>
      <if test="fkTaskcarstatusvalueCode != null">
        #{fkTaskcarstatusvalueCode,jdbcType=CHAR},
      </if>
      <if test="progress != null">
        #{progress,jdbcType=NUMERIC},
      </if>
      <if test="upgradetime != null">
        #{upgradetime,jdbcType=CHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=NVARCHAR},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=NUMERIC},
      </if>
      <if test="createat != null">
        #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=CHAR},
      </if>
      <if test="updateat != null">
        #{updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.intest.dao.entity.TaskCarBtoExample" resultType="java.lang.Long">
    select count(*) from F_TASKCAR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update F_TASKCAR
    <set>
      <if test="record.taskcarId != null">
        TASKCAR_ID = #{record.taskcarId,jdbcType=CHAR},
      </if>
      <if test="record.fkTaskId != null">
        FK_TASK_ID = #{record.fkTaskId,jdbcType=CHAR},
      </if>
      <if test="record.vin != null">
        VIN = #{record.vin,jdbcType=CHAR},
      </if>
      <if test="record.fkTaskcarstatusvalueCode != null">
        FK_TASKCARSTATUSVALUE_CODE = #{record.fkTaskcarstatusvalueCode,jdbcType=CHAR},
      </if>
      <if test="record.progress != null">
        PROGRESS = #{record.progress,jdbcType=NUMERIC},
      </if>
      <if test="record.upgradetime != null">
        UPGRADETIME = #{record.upgradetime,jdbcType=CHAR},
      </if>
      <if test="record.description != null">
        DESCRIPTION = #{record.description,jdbcType=NVARCHAR},
      </if>
      <if test="record.isdelete != null">
        ISDELETE = #{record.isdelete,jdbcType=NUMERIC},
      </if>
      <if test="record.createat != null">
        CREATEAT = #{record.createat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createby != null">
        CREATEBY = #{record.createby,jdbcType=CHAR},
      </if>
      <if test="record.updateat != null">
        UPDATEAT = #{record.updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateby != null">
        UPDATEBY = #{record.updateby,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update F_TASKCAR
    set TASKCAR_ID = #{record.taskcarId,jdbcType=CHAR},
      FK_TASK_ID = #{record.fkTaskId,jdbcType=CHAR},
      VIN = #{record.vin,jdbcType=CHAR},
      FK_TASKCARSTATUSVALUE_CODE = #{record.fkTaskcarstatusvalueCode,jdbcType=CHAR},
      PROGRESS = #{record.progress,jdbcType=NUMERIC},
      UPGRADETIME = #{record.upgradetime,jdbcType=CHAR},
      DESCRIPTION = #{record.description,jdbcType=NVARCHAR},
      ISDELETE = #{record.isdelete,jdbcType=NUMERIC},
      CREATEAT = #{record.createat,jdbcType=TIMESTAMP},
      CREATEBY = #{record.createby,jdbcType=CHAR},
      UPDATEAT = #{record.updateat,jdbcType=TIMESTAMP},
      UPDATEBY = #{record.updateby,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.intest.dao.entity.TaskCarBto">
    update F_TASKCAR
    <set>
      <if test="fkTaskId != null">
        FK_TASK_ID = #{fkTaskId,jdbcType=CHAR},
      </if>
      <if test="vin != null">
        VIN = #{vin,jdbcType=CHAR},
      </if>
      <if test="fkTaskcarstatusvalueCode != null">
        FK_TASKCARSTATUSVALUE_CODE = #{fkTaskcarstatusvalueCode,jdbcType=CHAR},
      </if>
      <if test="progress != null">
        PROGRESS = #{progress,jdbcType=NUMERIC},
      </if>
      <if test="upgradetime != null">
        UPGRADETIME = #{upgradetime,jdbcType=CHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=NVARCHAR},
      </if>
      <if test="isdelete != null">
        ISDELETE = #{isdelete,jdbcType=NUMERIC},
      </if>
      <if test="createat != null">
        CREATEAT = #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        CREATEBY = #{createby,jdbcType=CHAR},
      </if>
      <if test="updateat != null">
        UPDATEAT = #{updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        UPDATEBY = #{updateby,jdbcType=CHAR},
      </if>
    </set>
    where TASKCAR_ID = #{taskcarId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.intest.dao.entity.TaskCarBto">
    update F_TASKCAR
    set FK_TASK_ID = #{fkTaskId,jdbcType=CHAR},
      VIN = #{vin,jdbcType=CHAR},
      FK_TASKCARSTATUSVALUE_CODE = #{fkTaskcarstatusvalueCode,jdbcType=CHAR},
      PROGRESS = #{progress,jdbcType=NUMERIC},
      UPGRADETIME = #{upgradetime,jdbcType=CHAR},
      DESCRIPTION = #{description,jdbcType=NVARCHAR},
      ISDELETE = #{isdelete,jdbcType=NUMERIC},
      CREATEAT = #{createat,jdbcType=TIMESTAMP},
      CREATEBY = #{createby,jdbcType=CHAR},
      UPDATEAT = #{updateat,jdbcType=TIMESTAMP},
      UPDATEBY = #{updateby,jdbcType=CHAR}
    where TASKCAR_ID = #{taskcarId,jdbcType=CHAR}
  </update>
</mapper>