<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intest.dao.mapper.UpgradePackageMapper">
    <sql id="Base_Where_List">
        <if test="packageName != null and packageName != ''">AND T.PACKAGENAME LIKE '%'||#{packageName}||'%'</if>
        <if test="carTypeName != null and carTypeName != ''">AND ct.cartypename LIKE '%'||#{carTypeName}||'%'</if>
        <if test="packageType != null and packageType != ''">AND T.MAKETYPE = #{packageType}</if>
    </sql>
    <sql id="Parts_Where_List">
        <if test="queryText != null and queryText != ''">AND T.PARTSNAME LIKE '%'||#{queryText}||'%'</if>
    </sql>
    <sql id="PartsCode_Where_List">
        <if test="partsId != null and partsId != ''">AND T.FK_PARTS_ID = #{partsId}</if>
        <if test="queryText != null and queryText != ''">AND T.PARTNUMBER LIKE '%'||#{queryText}||'%'</if>
    </sql>
    <select id="findAllUpgradePackage" resultType="com.intest.dao.entity.UpgradePackageExtendBto">
        SELECT t.*, rownum id FROM (SELECT T.PACKAGETASK_ID PACKAGETASKID,
        CT.CARTYPENAME,
        T.PACKAGENAME,
        T.MAKETYPE PACKAGETYPE,
        (CASE T.FK_PACKAGETASKSTATUSVALUE_CODE
        WHEN '100' THEN
        0
        WHEN '101' THEN
        1
        WHEN '102' THEN
        2
        WHEN '103' THEN
        3
        WHEN '104' THEN
        4
        WHEN '105' THEN
        5
        WHEN '106' THEN
        6
        ELSE
        -1
        END) PACKAGESTATUS,
        T.CREATEAT,
        U.LOGIN_NAME CREATEBY
        FROM F_PACKAGETASK T
        LEFT JOIN F_PARTSUPGRADEPACKAGE PUP
        ON T.PACKAGETASK_ID = PUP.FK_PACKAGETASK_ID
        AND PUP.ISDELETE = 1
        LEFT JOIN F_CARTYPE CT
        ON T.FK_CARTYPE_ID = CT.CARTYPE_ID
        AND CT.ISDELETE = 1
        LEFT JOIN F_USER U
        ON T.CREATEBY = U.USER_ID
        AND U.ISDELETE = 1
        AND (1=1) <include refid="Base_Where_List"/>
        ORDER BY T.CREATEAT DESC) t
    </select>
    <select id="getPartsByCarTypeId" resultType="com.intest.dao.entity.PartsTreeBto">
        SELECT T.PARTS_ID KEY, T.PARTSNAME TITLE
        FROM F_PARTS T
        WHERE T.ISDELETE = 1
        AND T.FK_CARTYPE_ID = #{carTypeId}
    </select>
    <select id="getPartsCode" resultType="com.intest.dao.entity.ChildNode">
        SELECT DISTINCT T.FK_PARTS_ID KEY,T.PARTNUMBER TITLE
        FROM F_PARTSPACKAGE T
        WHERE T.ISDELETE = 1
        AND T.FK_PARTS_ID = #{partsId}
    </select>
    <select id="getVersion" resultType="String">
        SELECT DISTINCT T.SOFTWAREVERSION VERSION
        FROM F_PARTSPACKAGE T
        WHERE T.ISDELETE = 1
        AND T.PARTNUMBER = #{param1}
        AND T.FK_PARTS_ID = #{param2}
    </select>
</mapper>