<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intest.dao.mapper.UpgradePackageMapper">
    <sql id="Base_Where_List">
        <if test="packageName != null and packageName != ''">AND FI.FILENAME LIKE '%'||#{packageName}||'%'</if>
        <if test="carTypeName != null and carTypeName != ''">AND ct.cartypename LIKE '%'||#{carTypeName}||'%'</if>
        <if test="packageType != null and packageType != ''">AND TP.MAKETYPE = #{packageType}</if>
        <if test="publishStatus != null and publishStatus != ''">AND FI.ISPUBLISH LIKE #{publishStatus}</if>
    </sql>
    <sql id="Parts_Where_List">
        <if test="queryText != null and queryText != ''">AND T.PARTSNAME LIKE '%'||#{queryText}||'%'</if>
    </sql>
    <sql id="PartsCode_Where_List">
        <if test="partsId != null and partsId != ''">AND T.FK_PARTS_ID = #{partsId}</if>
        <if test="queryText != null and queryText != ''">AND T.PARTNUMBER LIKE '%'||#{queryText}||'%'</if>
    </sql>
    <select id="findAllUpgradePackage" resultType="com.intest.dao.entity.UpgradePackageExtendBto">
        SELECT T.PACKAGETASK_ID                 PACKAGETASKID,
        FI.UPGRADEPACKAGEFILEINFO_ID     FILEID,
        CT.CARTYPENAME,
        FI.FILENAME                      PACKAGENAME,
        FI.FILESIZE                      PACKAGESIZE,
        TP.MAKETYPE                      PACKAGETYPE,
        T.FK_PACKAGETASKSTATUSVALUE_CODE,
        FI.ISPUBLISH                     PUBLISHSTATUS,
        T.CREATEAT,
        U.LOGIN_NAME                     CREATEBY,
        ROWNUM            ID
        FROM F_PACKAGETASK T
        LEFT JOIN F_PARTSUPGRADEPACKAGE PUP
        ON T.PACKAGETASK_ID = PUP.FK_PACKAGETASK_ID
        AND PUP.ISDELETE = 1
        LEFT JOIN F_UPGRADEPACKAGEFILEINFO FI
        ON PUP.FK_UPGRADEPACKAGEFILEINFO_ID = FI.UPGRADEPACKAGEFILEINFO_ID
        AND FI.ISDELETE = 1
        LEFT JOIN F_CARTYPE CT
        ON T.FK_CARTYPE_ID = CT.CARTYPE_ID
        AND CT.ISDELETE = 1
        LEFT JOIN F_TASKORIGINALPACKAGE TP
        ON T.PACKAGETASK_ID = TP.FK_PACKAGETASK_ID
        LEFT JOIN F_USER U
        ON T.CREATEBY = U.USER_ID
        AND U.ISDELETE = 1 AND (1=1) <include refid="Base_Where_List"/>
    </select>
    <select id="getPartsByCarTypeId" resultType="com.intest.dao.entity.PartsTreeBto">
        SELECT T.PARTS_ID KEY, T.PARTSNAME TITLE
        FROM F_PARTS T
        WHERE T.ISDELETE = 1
        AND T.FK_CARTYPE_ID = #{carTypeId}
    </select>
    <select id="getPartsCode" resultType="com.intest.dao.entity.ChildNode">
        SELECT DISTINCT T.FK_PARTS_ID KEY,T.PARTNUMBER TITLE
        FROM F_PARTSPACKAGE T
        WHERE T.ISDELETE = 1
        AND T.FK_PARTS_ID = #{partsId}
    </select>
    <select id="getVersion" resultType="String">
        SELECT DISTINCT T.SOFTWAREVERSION VERSION
        FROM F_PARTSPACKAGE T
        WHERE T.ISDELETE = 1
        AND T.PARTNUMBER = #{param1}
        AND T.FK_PARTS_ID = #{param2}
    </select>
</mapper>